.team {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 60px 0;
  text-align: center;
}

.team h2 {
  font-size: 2em;
}

.team p {
  font-size: 1.2em;
  margin: 20px auto;
  width: 80%;
}